body {
    font-family: "Montserrat", sans-serif;
    perspective: 100px;
}

/* headr */
header {
    position: sticky;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 10;
    
}
.header-bar {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 11;
    padding: 1.5%;
}
.you-are-here {
   background-image: url("./images/i-am-here.png");
   background-position: center;
   background-repeat: no-repeat;
  
}
.header-bar a:hover {
    color: #F4538A;
}
.logo-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; 
    z-index: 10;
    background: none;
}

.box-header {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
}
.headre-left {
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
   
}
.headre-left a {
    text-decoration: none;
    color: black;
    margin-right: 2rem;
    z-index: 20;
    padding: 10px;
}
.header-right {
    margin-right: 5%;
    z-index: 21;

}

.header-right a {
 text-decoration: none;
 color: black;
 padding: 10px;

}
#logo-small { 
    opacity: 0;
    transition: opacity 0.5s ease;
}
/*footer*/

footer {
    background-color: rgb(45, 45, 45);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.year p{
 text-align: center;
padding-bottom: 1%;
}
                   
.footer {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    padding: 2%;
}
.features-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   gap: 10px;
    width: 40%;
    margin-left: 5%;
}
footer  a{
    text-decoration: none;
    color: white;
    margin-top: 10%;
    font-size: 0.8rem;
}
footer a:hover{
    color: #F5DD61;
}
footer  p {
    color: rgb(150, 150, 150);
    margin-bottom: 2%;
}
.social-container {
    margin-right: 5%;
}
.features {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.tests{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%; 
}
.games-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%; 
}



/*index*/

.index-main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    perspective: 100px;
}
.logo-para{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index-main  a {
    text-decoration: none;
    background: none;
    padding: 20px 40px;
    border-radius:  20px;
    font-size: 1.5rem;
    background-color: #59D5E0;
    border: none;
    color: white;
    position: relative;
    transition: all ease 0.3s;
    overflow: hidden;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 8px 10px -6px rgba(0,0,0,0.1);
    margin-bottom: 2%;
 
}

.index-main  a::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-color: #F5DD61;
    width: 20px;
    height: 200px;
    transform: translateY(-60%) translateX(0) rotateZ(45deg);
    transition: all 0.3s ease;
}

.index-main  a:after {
    content: "";
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: #FAA300;
    width: 20px;
    height: 200px;
    transform: translateY(60%) translateX(0) rotateZ(45deg);
    transition: all 0.3s ease;
}

.index-main  a:hover {
    background-color: #F4538A ;
}

.index-main  a:hover:before {
    transform: translateY(90px) translateX(280px) rotateZ(45deg) ;
}
.index-main  a:hover:after {
    transform: translateY(-90px) translateX(-280px) rotateZ(45deg) ;
}
.background-animation{
    position: relative;
    margin-left:auto ;
    margin-right: auto;
    height: 90vh;
}


.cloud1 {
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: -10;
    animation-name: clouds;
    animation-duration: 35s;
    animation-iteration-count: infinite;
   
    animation-direction: alternate-reverse;
}
@keyframes clouds {
    from {
        left: 0;
    }
    to {
        left: 60vw;
    }


}
.cloud2 {
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: -10;
    animation-name: clouds1;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  
    animation-direction: alternate-reverse;
}
@keyframes clouds1 {
    from {
        right: 0;
    }
    to {
        right: 60vw;
    }}

    .clouds {
        animation-name: cloud-opacity;
        animation-duration: 0.3s;
        animation-delay: 0.7ms;
        animation-timing-function: ease;
    }

    @keyframes cloud-opacity {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .tree {
        position: absolute;
        right: 10%;
        top: 20%;
        z-index: -2;
        
    }
    .tree2 {
        z-index: -2;
        position: absolute;
        left: 0;
        top: 20%;
    }
    .tree3 {
        position: absolute;
        left: 0;
        top: 25%;
        z-index: -4;
        opacity: 0.5;
    }
    .tree4{
        position: absolute;
        right: 2%;
        top: 25%;
        z-index: -4;
    }
    .ball {
        position: absolute;
        animation-name: ball;
        animation-duration: 10s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-direction: alternate-reverse;
        z-index: -3;
        left: 50%;
        bottom: 10%;
       
    }
    @keyframes ball {
        from {
            left: 50%;
            bottom: 10%;
            transform: rotate(0deg);
        }
        to {
            left: 100%;
            bottom: 10%;
            transform: rotate(960deg);
        }
    }
    .grey-bkg{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -100;
        width: 100%;
        height: 20%;
        
        background-color: rgb(247, 247, 247);
    }

    .play-contianer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        
    }
    .play-bkg-grey{
        padding-top: 5%;
        background-image: linear-gradient(rgb(247, 247, 247), white);
       
      
        
    }
    .paly-carusel-alighn {
        display: flex;
        flex-direction: column;
       padding: 1%;
        width: 80%;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
     h1 {
        font-family: "mojito", sans-serif;
        font-weight:700;
        font-style: normal;
        font-size: 5rem;
        color: #F4538A;
    }
    .play-contianer{
        margin-bottom:10%;
        width: 100%;
    }
    .play-contianer  h1{
        margin-bottom: 0;
    }
    .play-contianer p {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        margin-top: 2%;
        line-height: 140%;
        font-size: 1.3rem;
    }
  
    .games {
        padding: 2%;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
        border-radius: 15%;
        
    }
    .games a {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .caruael-games{
        max-width: fit-content;
        position: relative;
        
    }

    .games {
        width: 100%;
        height: 100%;
        margin-left: 10px;
        width: calc(100% / 4.85);
        flex: 0 0 auto;
    }

    .test-contianer{
       background-color: rgb(247, 247, 247); 
    }
    .games p {
        margin: 0;
        color: white;
        
    }
    .games div {
        border-radius: 15px;
        padding: 5%;
        background-color: #59D5E0;
        position: relative;
        
        transition: all 0.2s ease-in; 
        overflow: hidden;
        object-fit: cover;
        
    }
    .games div:before{
        content: "";
        bottom: 0;
        right: -20px;
        position: absolute;
        background-color: #FAA300;
        width: 20px;
        height: 200px;
        transform-origin: left bottom;
        transform: translateX(0) translateY(0) ;
        transition: all 0.3s ease-in;
        
    }
    .games div:after{
        content: "";
        bottom: -100px;
        left: -22px;
        position: absolute;
        background-color: #F5DD61;
        width: 20px;
        height: 200px;
        transform-origin: right bottom;
        transform: translateX(0) translateY(0) ;
        transition: all 0.4s ease-in;
    }

    .games div:hover:before{
        transform: translateX(-250px) translateY(100px) ;
        
    }
    .games:hover div:after{
        transform: translateX(250px) translateY(-100px) ;
    }
    .games:hover div{
        background-color: #F4538A;
    }
    .games img {
   
        transform-origin: bottom 50%;
        transform: rotate(0);
        transition: all 0.3s ease;
        
    }

    .games:hover  img  {
        transform: rotate(45deg);
    }

    /* carusel building*/
    
    .games-grid div:first-child{
        margin-left: 0px;
    }
    

    .games-grid {
        display: flex;
        justify-content: space-between;
        overflow-x: hidden;
        padding-top: 2%;
        padding-bottom: 2%;
        scroll-behavior: smooth;
        
    }

    .games-grid {
        scroll-behavior: auto;
        cursor: grab;
    }

    .btn-caruael-games{
        position: absolute;
        left: 0;
        bottom: 40%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .btn-caruael-games :first-child {
        visibility: hidden;
        background-color: transparent;
        border: none;
        font-size: 4rem;
        color: #F4538A;
        text-shadow: 3px 2px 12px rgba(0, 0, 0, 0.18);
    }
    .btn-caruael-games :last-child {
        visibility: visible;
        background-color: transparent;
        border: none;
        font-size: 4rem;
        color: #F4538A;
        text-shadow: 3px 2px 12px rgba(0, 0, 0, 0.18);
    } 

    .btn-caruael-games button:hover{
        color: #FAA300;
    }

  @media screen and (max-width: 1141px) {
    .games{
        width: calc(100% / 3);
    }
  }
  @media screen and (max-width: 660px) {
    .games{
        width: calc(100% / 1);
    }
  }

  /* index /test/ */
  .test-contianer{
    width: 100%;
    display: flex;
   justify-content: center;
}
.test-contianer h1 {
    margin-bottom: 2%;
}

.test-contianer-flex{
   width: 60%;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.test-toughts-index {
    display: flex;
    align-items: center;
    align-items: center;
    font-size: 1.3rem;
   
    
}
.test-contianer-flex .index-test-img{
    position: relative;
    
}
.test-contianer-flex div  a {
    color: white;
    background-color: #59D5E0;
    padding: 2% 4%;
    text-decoration: none;
    position: absolute;
    right: 10%;
    top: 10%;
    font-size: 2rem;
    border-radius: 15px;
    transition: all 0.4s ease-in;
    overflow: hidden;
}
.test-contianer-flex div  a:before{
    content: "";
    bottom: 0;
    right: -20px;
    position: absolute;
    background-color: #FAA300;
    width: 20px;
    height: 200px;
    transform-origin: left bottom;
    transform: translateX(0) translateY(0) ;
    transition: all 0.3s ease-in;
    
}
.test-contianer-flex div  a:after{
    content: "";
    bottom: -100px;
    left: -22px;
    position: absolute;
    background-color: #F5DD61;
    width: 20px;
    height: 200px;
    transform-origin: right bottom;
    transform: translateX(0) translateY(0) ;
    transition: all 0.4s ease-in;
}

.test-contianer-flex div  a:hover:before{
    transform: translateX(-250px) translateY(100px) ;
    
}
.test-contianer-flex div  a:hover:after{
    transform: translateX(250px) translateY(-100px) ;
}
.test-contianer-flex div  a:hover {
    background-color: #F4538A;
}

/* about cbt style */

.about-container{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    line-height: 110%;
    
}
.about-container h1 {
    text-align: center;
    color: #59D5E0;
    margin-bottom: 10%;
}
.about-container h3 {
    color: #F4538A;
}
.about-container-1 {
    margin-bottom: 15%;
}
.about-container-2 ul{
    list-style: none;
}
.about-container-2 h3 span {
    display: inline-block;
    font-size: 2rem;
    transform: rotate(20deg);
}
.about-container-2 .about-list  p{
    margin-left: 2rem;
}
.back-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.back-btn {
    background-color: #59D5E0;
    padding: 1% 2%;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}

.back-btn:before{
    position: absolute;
    content: "";
    left: 100%;
    top: 0;
    width: 120px;
    height: 30px;
    background-color: #FAA300;
    transition: all ease 0.3s;
   
    
}

.back-btn:after{
    position: absolute;
    content: "";
    bottom:  0;
    right: 100%;
    width: 120px;
    height: 30px;
    background-color: #F5DD61;
    transition: all ease 0.3s;
    
}

.back-btn:hover:before{
   transform: translate(-220%);
}
.back-btn:hover:after{
    transform: translate(220%);
 }
 .back-btn:hover{
    background-color: #F4538A;
   
 }

 /* test page style */
 .test-choose-container-2 {
    background-image: linear-gradient( white ,#d8d8d8) ;
 }
 .test-contianer-tests {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
 }
 .test-contianer-tests {
    text-align: center;
 }
 .test-contianer-tests h1 {
    color: #59D5E0;
    margin-bottom: 0;
 }
 .test-contianer-tests >p{
    margin-bottom: 5%;
 }

.test-btn-container {
    display: flex;
    justify-content: space-around;
}

.test-btn-container .circle-1 {
    background-color:#eaeaea ;
    border-radius: 50%;
    position: relative;
}

.circle-1 .hand{
    position: absolute;
    right: 0;
    bottom: 0;
    transform-origin: left bottom;
}

.test-btn-container h4{
    color: #F4538A;
    margin-bottom: 0;
    font-size: 1.2rem;
}
.test-btn-container p {
    margin-top: 0;
}
.test-btn-container .circle-2 {
    background-color:#eaeaea ;
    border-radius: 50%;
    position: relative;
}
.circle-2 .hand{
    position: absolute;
    left: -20%;
    bottom: 0;
    z-index: 0;
    transition: all 0.5s ease;
    transform-origin: right bottom;
    
    
}

.circle-2:hover .hand{
   animation-name: wave;
   animation-duration: 0.5s;
   animation-direction: alternate, reverse, normal;
   animation-iteration-count: infinite;
}

@keyframes wave {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(35deg);
    }
}


.circle-1:hover .hand{
    animation-name: wave;
    animation-duration: 0.5s;
    animation-direction: alternate, reverse, normal;
    animation-iteration-count: infinite;
}
.test-choose-container-sub-2{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    height: 130vh;
  
}

.test-choose-container-sub-2 h1{
    color: #59D5E0;

}
.test-choose-container-sub-2 h4{
    color: #F4538A;
    font-size: 1.2rem;
    margin-bottom: 0;
}
.test-whitebox-container{
    display: flex;
    justify-content: space-between;
    
}
.test-whitebox-container .test-box-explain{
    background-color: white;
    width: 20%;
    border-radius: 20%;
    padding: 2%;
    box-shadow: 0px 1px 0px 0px rgba(27, 31, 36, 0.04);
    
}

.bkg-images .hill-1 {
 position: absolute;
 bottom: 0%;
 left: -80px;
 z-index: 4;
 
}

 .hill-1-in{
   animation-name: hill-1;
   animation-duration: 3s;
   animation-delay: 0.2s;
   animation-timing-function: ease-in-out; 
   animation-fill-mode: forwards;

}
.hill-2-in{
    animation-name: hill-1;
   animation-duration: 3.5s;
   animation-delay: 0.5s;
   animation-timing-function: ease-in-out; 
   animation-fill-mode: forwards;
}
@keyframes hill-1 {
    from{
        transform: translateX(0) ;
    }
    to {
        transform: translateX(200px);
    }
}

.bkg-images .hill-2 {
    position: absolute;
    bottom: -4px;
    left: 400px;
    z-index: 4;
    transition: all 0.3s ease;
    
   } 


.bkg-images .kid-medi{
    position: absolute;
    bottom: 20%;
    left: 80px;
    z-index: 5;
    
   }
.bkg-images .hill-3 {
    position: absolute;
    bottom: 0%;
    left: -200px;
    z-index: 4;
   }
.bkg-images .hill-4 {
       position: absolute;
       bottom: 0%;
       left: 470px;
       z-index: 2;
    }

.test-box-explain  a{
    display: inline-block;
    padding: 4% 8%;
    background-color: #59D5E0;
    text-decoration: none;
    border-radius: 20%;
    color: white;
    transition: all 0.2s;
}

.test-box-explain  a span{
    transition: all 0.2s;
    font-size: 1rem;
}

.test-box-explain  a:hover{
    background-color: #F4538A;
    
}
.test-box-explain  a:hover span{
    font-size: 1.1rem;
    margin: 0;
}



/* games styling */
.games-container{
    margin-bottom: 0;
}

.game-container-2 h1{
    color: #59D5E0;
    margin-bottom: 1%;
    margin-top: 3%;
}

.game-container-2{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.games-ball-animation{
    margin-bottom: -10px;
    animation: bounce 1s ease-in-out infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
   
}

@keyframes bounce {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100px);
    }
  }
  .ball-animation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ball-shadow{
    margin-bottom: -20px;
        left: 0;
        top: -5%;
        bottom: 0;
        width: 80px;
        height: 20px;
        background-color: rgb(87, 86, 127);
        border-radius: 50%;
        z-index: -1;
        animation: shadow-move 1s ease-in-out infinite;
        animation-fill-mode: both;
        animation-direction: alternate;
  }

  @keyframes shadow-move {
    from {
      transform: scale(1.3, 0.6) ;
      filter: blur(2px);
    }
    to {
      transform: scale(0.8, 0.9);
      filter: blur(10px);
    }}

.game-container-3{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.game-container-3 h1{
    color: #59D5E0;
    margin-top: 3%;
    text-align: center;
}
.games-choose-container{
    display: grid;
    gap: 2%;
    grid-template-columns: 1fr 1fr 1fr;
 
}
.games-choose-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    box-shadow: 0px 8px 24px 0px rgba(140, 149, 159, 0.2);
    border-radius: 5%;
    padding-top: 5%;
   
}
.games-choose-container div a{
    text-decoration: none;
    transition: all 0.3s ease;
}

.games-choose-container div p {
    background-color: #59D5E0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color:white;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10%;
}

.games-choose-container div a{
   transition: all 0.4s ease;

}

.games-choose-container  div:hover{
    transform: scale(1.1);
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
}




/* about me */

.aboutme-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 140%;
}

/* emotions game */

.emotions-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.emotions-start-container{
    height: 80vh;

}
.emotions-start-container h1{
    margin-bottom: 0;
}
.emotions-start-container div {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-btn {
    text-decoration: none;
    background-color: #59D5E0;
    font-size: 3rem;
    color: white;
    padding: 2%;
    border-radius: 20%;
    cursor: pointer;
    padding: 1%;
    position: relative;
    transition: all 0.5s ease;
    overflow: hidden;
}

.play-btn:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 130px;
    height: 40px;
    background-color: #FAA300;
    transition: all 0.3s ease;
    transform: translateX(-120%);
}

.play-btn::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 130px;
    height: 40px;
    background-color: #F5DD61;
    transition: all 0.4s ease;
    transform: translateX(120%);
}
 
.play-btn:hover::before{
    transform: translateX(120%);
}

.play-btn:hover::after{
    transform: translateX(-120%);
}

.play-btn:hover{
    background-color: #F4538A;
}

.emotions-choose-container{
 display: flex;
 justify-content: space-around;
 box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
 padding: 5%;
 border-radius: 10%;
}
.emotions-choose-container h3{
    color: #F4538A;
}
.emotions-choose-card{
display: flex;
flex-direction: column;
justify-content: space-between;
margin-right: 2%;
}

.emotions-choose-card button{
    background-color: #59D5E0;
    border: none;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    font-size: 1.2rem;
    border-radius: 10%;
    cursor: pointer;
    transition: all 0.2s ease;
}
.emotions-choose-card button:hover{
    color: #F5DD61;
    background-color: #F4538A;
}
/* river game */

.river-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.river-container h1 {
    margin-bottom: 1%;

}
.river-container .river-part-1 p {
    line-height: 200%;
}

.river-part-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.river-play-btn{
    display: inline-block;
    text-decoration: none;
    background-color: #59D5E0;
    border: none;
    padding: 1%;
    color: white;
    font-size: 2rem;
    border-radius: 10%;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    overflow: hidden;

}

.river-play-btn:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 130px;
    height: 40px;
    background-color: #FAA300;
    transition: all 0.3s ease;
    transform: translateX(-120%);
}

.river-play-btn::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 130px;
    height: 40px;
    background-color: #F5DD61;
    transition: all 0.4s ease;
    transform: translateX(120%);
}
 
.river-play-btn:hover::before{
    transform: translateX(120%);
}

.river-play-btn:hover::after{
    transform: translateX(-120%);
}

.river-play-btn:hover{
    background-color: #F4538A;
}

.river-part-2 h3 {
    color: #F4538A;
    margin-top: 10%;
}
.river-bkg{
    width: 100%;
    height: 50vh;
    background-image: url("./images/river-bkg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%;
    position: relative;
   
}
.river-bkg div {
    position: absolute;
    left: 0;
    bottom: 65%;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/leaf.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    width: fit-content;
    animation: moving-thoughts 120s ease forwards; /* Changed ease to linear */
    offset-path: path("M.18,73.2S194.52-2.28,311.5,1.5s373.58,264.15,545.28,273.58S1492.63-17.64,1711.5,1.36s501.89,226.55,590.57,228.44,158.49-69.81,158.49-69.81");
}

@keyframes moving-thoughts {
    from {
        offset-distance: 0%;
    }
    to {
        offset-distance: 100%;
          
    }
}

.river-part-2 textarea{
    border: solid #FAA300;
}

.river-part-2 .submit {
    border: solid #F4538A;
    background-color: #F5DD61;
    color: #F4538A;
    padding: 1%;
    border-radius: 15%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.river-part-2 .submit:hover{
    background-color: #F4538A;
    color: white;
}
/* wheel style */

.wheel-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.wheel-pat-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
   
}
.wheel-container h1{
    color: #59D5E0;
    margin-bottom: 1%;
}

.wheel-pat-1 h4{
    color: #F4538A;
    margin-bottom: 1%;
    font-size: 1.5rem;
}

.wheel-pat-1 button {
    margin-top: 2%;
    margin-bottom: 5%;
    border: none;
    background-color: #FAA300;
    padding: 1%;
    font-size: 1rem;
    border-radius: 15%;
    transition: all 0.2s ease ;
}
.wheel-solution-add p{
    margin-top: 1%;
    margin-bottom: 1%;
}
.wheel-pat-1 textarea {
    border: solid #FAA300;
    border-radius: 20px;
}
.wheel-pat-1  .reset{
    background-color: #F5DD61;
    border: solid #F4538A;
    color: #F4538A;
    transition: all 0.2s ease ;
}
.wheel-buttons {
    display: flex;
    justify-content: space-around;
}
.wheel-pat-1 button:hover{
    background-color: #59D5E0;
    color: black;
}
.wheel{
  
  
}
.wheel div {
    position: absolute;
     left: 0;
    top: 0;
    color: black;

}
.wheel-parent {
    position: relative;
}

.wheel-parent button{
    
}